body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f2f2;
}

.main-container {
  background-color: #fff;
  border-radius: 5px;
  margin: 10rem;
  box-shadow: 3px 3px 3px 3px gray;
  padding: 3%;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

input {
  border: 0;
  outline: 0;
  padding: 0.2rem;
}

hr {
  border: 0.1px solid #f3f2f2;
  margin: 0;
}

i {
  cursor: pointer;
  color: gray;
}

.button-container {
  display: flex;
  justify-content: center;
}

.my-button {
  width: 20%;
}

.my-checkbox {
  width: 7rem;
  cursor: pointer;
}

.fa-solid {
  color: black;
}

.my-button:hover {
  color: red;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 3px solid red;
  font-weight: 700;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.to-do-input {
  font-size: 1rem;
  font-weight: 700;
}

.to-do-list {
  /* border: 1px solid black; */
}

.adding-to-do-list {
  display: flex;
  justify-content: space-between;
}

.add-todo-input {
  font-size: 2.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.to-do-pop {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 1rem;
  height: 2rem;
  /* border: 1px solid black; */
}
